@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(../img/bg.jpg);
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #121214;
}

body * {
  font-family: 'Inter', sans-serif;
  line-height: 160%;
}

header {
  height: 120px;
}

header div {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 32px;
  padding: 4px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, right top, from(#9572fc), color-stop(50.52%, #43e7ad), to(#e2d45c));
  background-image: linear-gradient(90deg, #9572fc 0%, #43e7ad 50.52%, #e2d45c 100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-animation: top 0.7s 0.2s backwards;
          animation: top 0.7s 0.2s backwards;
}

header div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header div img {
  width: 100%;
  border-radius: 50%;
}

main {
  max-width: 580px;
  width: 90%;
  margin: 32px auto;
  display: -ms-grid;
  display: grid;
  gap: 24px;
}

main section {
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#9572fc), color-stop(50.52%, #43e7ad), to(#e2d45c));
  background-image: linear-gradient(90deg, #9572fc 0%, #43e7ad 50.52%, #e2d45c 100%);
  border-radius: 10px;
  padding-top: 4px;
  -webkit-animation: bottom 0.7s backwards;
          animation: bottom 0.7s backwards;
}

main section:nth-child(2) {
  -webkit-animation-name: left;
          animation-name: left;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

main section:nth-child(3) {
  -webkit-animation-name: right;
          animation-name: right;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

main section div {
  background-color: #2a2634;
  padding: 24px 32px;
  border-radius: 8px;
}

main section div h1 {
  font-weight: 900;
  font-size: 24px;
  letter-spacing: -0.47px;
}

main section div p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.18px;
  color: #a1a1aa;
}

main section div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
  margin-top: 24px;
}

main section div ul li {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

main section div ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main section div .games-list img {
  width: 90px;
  border-radius: 8px;
}

main section div .channel-list img {
  border-radius: 50%;
  width: 70px;
  border: 1px solid #443e54;
}

/* animation */
@-webkit-keyframes top {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes top {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes bottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bottom {
  from {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes left {
  from {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes left {
  from {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes right {
  from {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes right {
  from {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=estilo.css.map */