
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');


*{
    margin: 0; padding: 0;
    border: none; list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-image: url(../img/bg.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body *{
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

header{
    height: 120px;
    div{
        width: 120px;
        display: flex;
        margin: 0 auto;
        margin-top: 32px;
        padding: 4px;
        border-radius: 50%;
        background-image: linear-gradient(90deg,#9572fc 0%, #43e7ad 50.52%, #e2d45c 100%);
        transition: transform 0.3s;
        animation: top 0.7s 0.2s backwards;

        &:hover{
            transform: scale(1.1);
        }

        img{
            width: 100%;
            border-radius: 50%;
        }
    }
}

main{
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: grid;
    gap: 24px;

    section{
        color: white;
        background-image: linear-gradient(90deg,#9572fc 0%, #43e7ad 50.52%, #e2d45c 100%);
        border-radius: 10px;
        padding-top: 4px;
        animation: bottom 0.7s backwards;

        &:nth-child(2){
            animation-name: left;
            animation-delay: 0.4s;
        }

        &:nth-child(3){
            animation-name: right;
            animation-delay: 0.8s;
        }

        div{
            background-color: #2a2634;
            padding: 24px 32px;
            border-radius: 8px;
            h1{
                font-weight: 900;
                font-size: 24px;
                letter-spacing: -0.47px;
            }
    
            p{
                font-weight: 400;
                font-size: 16px;
                letter-spacing: -0.18px;
                color: #a1a1aa;
            }
    
            ul{
                display: flex;
                flex-wrap: wrap;
                gap: 16px;
                margin-top: 24px;

                li{
                    transition: transform 0.3s;

                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
    
            .games-list{
                img{
                    width: 90px;
                    border-radius: 8px;
                }
            }
    
            .channel-list{
                img{
                    border-radius: 50%;
                    width: 70px;
                    border: 1px solid #443e54;
                }
            }
        }
    }
}

/* animation */

@keyframes top{
    from{
        opacity: 0;
        transform: translateY(-30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bottom{
    from{
        opacity: 0;
        transform: translateY(30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes left{
    from{
        opacity: 0;
        transform: translateX(-30px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes right{
    from{
        opacity: 0;
        transform: translateX(30px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}